.dashboard-card {
    display: flex;
    margin-top: 20px;
}

.card {
    margin-left: 20px;
}

.card:hover {
    scale: 1.1;
    box-shadow: 10px 7px 10px gray;
}

.booking-card {
    margin-left: 35px;
}

.payment-card {
    margin-left: 35px;
}