.containerSearch{
    position: relative;
 }
 .slideshow {
    width: 100%;
    height: 550px;
 }
 .form-content {
    position: absolute;
    bottom: 15%;
    width: 400px;
    left: 10%;
    background-color:antiquewhite;
    height: 430px;
    border-radius: 50px;
 }
