#aside {
  padding-top: 20px;
  padding-left: 20px;
  width: 16%;
  height: 550px;
  float: left;
  font-style: italic;
  /* margin: auto; */
  /* background-color: tan; */
  /* background-color: mistyrose;  */
  background: linear-gradient(110deg, #36393b 60%, #2d2f30 60%);
  font-weight: bold;
  font-size: 19px;
}

.c1 {
  /* color: #e39eb29e; */
  color: #0583d2;
}

.c1:hover {
  text-decoration: none;
  font-size: 20px;
  /* color: #a127ca; */
  color: #c762e9;
}

i {
  color: rgb(17, 174, 201);
}

/* @media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
} */